nav {
    background-color: #333;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  nav a {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .logOut-nav{
    color: tomato;
  }

  .logOut-nav:hover {
    background-color: rgb(247, 193, 184);
    color: black;
  }