.section-register{
  min-height: 750px;
}

.register-container {
    background-color: #262421;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin-top: 20px;
    border: 2px solid whitesmoke;
    display: flex;
    flex-direction: column;
    min-height: 500px;
  }
  
  form {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    margin-top: 15px;
    color: whitesmoke;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="submit"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #403e39;
    background-color: #403e39;
    margin: 0;
    color: whiwhitesmokete;
    border-radius: 5px;
    font-size: 18px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }

form p{
  color: tomato;
  height: 10px;
  padding: 0;
  margin: 3px 0 15px 0; 
}

.created-message{
  color: #45a049;
  font-weight: bold;
  font-size: 17px;
  padding: 0;
  margin: 0;
}
  