.section-login{
  min-height: 750px;
}

.login-container {
    background-color: #262421;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin-top: 20px;
    border: 2px solid whitesmoke;
    flex-direction: column;
  }
  
  form {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: white;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="submit"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #403e39;
    background-color: #403e39;
    color: white;
    border-radius: 5px;
    font-size: 18px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }

  form a{
    display: block;
  }

  